
{% assign ext = requirement.extension %}

{% assign title = ext | where: "url", "http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.title" | first %}


<table border="1" style="border-collapse: collapse;">
  <tbody>


    <tr>
      <th>Publisher</th>
      <td>	
	{% assign contacturl =  ext
	  | where: 'url', 'http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.contact'
	  | map: 'valueContactDetail' | map: 'telecom' | first | where: 'system', 'url' | first | map: 'value' | first %}
	{% assign publisher = ext
	  | where: 'url', 'http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.publisher'
	  | first | map: 'valueString' | first %}
	{% if publisher == empty or publisher == nil %}
	  {% if contacturl == empty or contactur == nil %}
	    No publisher has been registered.
	  {% else %}
	    {{ contacturl }}
	  {% endif %}
	{% else %}
	  {% if contacturl == empty or contacturl == nil %}
	    {{  publisher  }}
	  {% else %}
    	    <a href="{{  contacturl  }}">{{  publisher  }}</a>
	  {% endif %}
	{% endif %}
      </td>
    </tr>
    <tr>
      <th>Contact Email</th>
      <td>
	{% assign url = ext
	  | where: 'url', 'http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.contact'
  	  | map: 'valueContactDetail' | map: 'telecom' | first | where: 'system', 'email' | first | map: 'value' | first %}
	{% if url == empty or url == nil %}
	   No contact email has been registered.
	{% else %}
	  {{url}}
	{% endif %}
      </td>
    </tr>


    <tr>
      <th>Jurisdiction</th>
      <td>
	{% assign jursisdiction = ext
	  | where: 'url', 'http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.jurisdiction'
 	  | first | map: 'valueCodeableConcept' | map: 'coding' | first | first | map: 'code' | first %}
	{{ jurisdiction }}
      </td>
    </tr>
    
    <tr>
      <th>Statements</th>
      <td>{% include requirements-list-statements.liquid site=site requirement=requirement %}</td>
    </tr>


    
    <tr>
      <th>Derived from</th>
      <td>
	{% assign parents = ext
	  | where: 'url', 'http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.derivedFrom' %}
	  {% if parents == empty or parents == nil %}
	    This requirement is not derived from another requriement.
	  {% else %}
	    <ul>
              {% for parent in parents %}
                {% assign parentinstance = parent.valueCanonical | split: "/" | last  | split: ".html" | first %}
	        {% assign parentpage = "Requirements-" | append: parentinstance | append: ".html" %}
	        {% assign parentname = site.data.pages[parentpage].title %}
                <li><a href="{{  parentpage  }}">{{ parentname | escape  }}</a></li>	      
              {% endfor %}
	    </ul>
	  {% endif %}    
        </ul>
      </td>
    </tr>
    <tr>
      <th>Derivatives</th>
      <td>
	{% include requirements-list-derivatives.liquid site=site requirement=requirement %}
      </td>
    </tr>      
      
    <tr>
      <th>Participating Actors</th>
      <td>
        <ul>
          {% assign actors = ext
	     | where: 'url', 'http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.actor' %}
          {% for actor in actors %}
              {% assign actorinstance = actor.valueCanonical | split: "/" | last  | split: ".html" | first %}
	      {% assign actorpage = "ActorDefinition-" | append: actorinstance | append: ".html" %}
	      {% assign actorname = site.data.pages[actorpage].title %}
              <li><a href="{{  actorpage  }}">{{ actorname | escape  }}</a></li>	      
          {% endfor %}
        </ul>
      </td>
    </tr>
  </tbody>
</table>
